In [21]:
import pandas as pd
pd.options.mode.chained_assignment = None 
import numpy as np
#imputation. For more details check https://www.kaggle.com/alexisbcook/missing-values
from sklearn.impute import SimpleImputer

In [22]:
data = pd.read_csv("titanic.csv")

In [23]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [24]:
data.shape

(1309, 14)

# Explanation of columns

Thanks to https://github.com/awesomedata/awesome-public-datasets/issues/351 and https://www.openml.org/d/40945
- pclass: Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- survived: Survival (0 = No; 1 = Yes)
- name: Name
- sex: Sex(female, male)
- age: Age. 263 missing values
- sibsp: Number of Siblings/Spouses Aboard
- parch: Number of Parents/Children Aboard
- ticket: ticket number
- fare: Fare. 1 missing value
- cabin: cabin number. 1014 missing
- embarked: port from which passanger embarked. 3 unique values. 2 missing.
- boat: Lifeboat (if survived)
- body: Body number (if did not survive and body was recovered)
- home.dest: Home/Destination. 369 unique values 564 missing

I dropped name, ticket, and cabin because that is irrelavant and boat and body because they are data connected to if the passanger survived or not.

I also dropped home.dest because as most of the values are unique and 1/3 of it is missing, it doesn't offer much info. Also, in the kaggle database it is dropped as well. https://www.kaggle.com/c/titanic/data?select=train.csv

In [25]:
X, Y = data[["pclass", "sex", "age", "sibsp", "parch", "fare", "embarked"]], data["survived"]

In [26]:
X.head()

   pclass     sex     age  sibsp  parch      fare embarked
0       1  female      29      0      0  211.3375        S
1       1    male  0.9167      1      2    151.55        S
2       1  female       2      1      2    151.55        S
3       1    male      30      1      2    151.55        S
4       1  female      25      1      2    151.55        S

In [27]:
X[["age", "fare"]]=X[["age", "fare"]].replace('?', np.nan)
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
X[["age", "fare"]] = imp_mean.fit_transform(X[["age", "fare"]])

In [28]:
# Do one hot encoding on sex, age, and home.dest
X = pd.get_dummies(X, columns=["sex", "embarked"])
# Can do one hot encoding for pclass too but not for now

In [ ]:
X.head()